<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Babysitter Hours Calculator</h1>
    <p class="lead">Find out how much money you're making for sitting on all those babies (you monster).</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <app-hours-calculator></app-hours-calculator>
    </div>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container justify-content-center">
    <small>Built by Sophie McCall, 2019</small>
  </div>
</nav>
